<configuration>

  <property name="PATTERN" value="%msg [%thread] [%logger{15}] %n" />
  <timestamp key="startTimestamp" datePattern="yyyyMMdd-HHmmss"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>catchmentdelineator-${startTimestamp}.log</file>
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>